.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    padding-top: 20px;
    padding-left: 4px;
    height: 83px;
    border-bottom: 2px solid #c6192a;
}

header .w img {
    padding-top: 20px;
    padding-left: 4px;
}

.registerarea {
    height: 543px;
    margin-top: 22px;
    border: 1px solid #CCC;
}

.registerarea h3 {
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    color: #333333;
    padding-left: 10px;
    font-weight: normal;
    background-color: #ececec;
}

.registerarea h3>div {
    float: right;
    font-size: 14px;
}

.registerarea h3 div a {
    color: #c6192a;
}

.reg_form {
    /* height: 480px; */
    margin: 50px auto 0;
    width: 600px;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li span i {
    display: inline-block;
    width: 20px;
    margin: 0 4px 0 10px;
    height: 20px;
    background: url(../images/erro_03.png);
    vertical-align: middle;
}

.reg_form ul li .inp {
    width: 240px;
    height: 34px;
    border: 1px solid #ccc;
}

.reg_form ul li label {
    display: inline-block;
    margin-right: 10px;
    width: 88px;
    font-size: 14px;
    color: #4d4d4d;
    text-align: right;
}

.reg_form .btn {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    margin: 40px 0 0 102px;
    color: #ffffff;
}

.reg_form li:nth-of-type(5) {
    margin-bottom: 43px;
}

.reg_form .check {
    margin-left: 100px;
}

.reg_form .xy {
    color: #1ba1e6;
}

.reg_form .safe {
    margin-top: -10px;
    margin-left: 150px;
    font-size: 12px;
    color: #b2b2b2;
}

.reg_form .ruo {
    background-color: #de1111;
    padding: 0 10px;
    color: #fff;
}

.reg_form .zhong {
    padding: 0 10px;
    color: #fff;
    background-color: #40b83f;
}

.reg_form .qiang {
    padding: 0 10px;
    color: #fff;
    background-color: #f79100;
}


/* my_copyright start */

.my_copyright {
    /* border-top: 1px solid #ccc; */
    text-align: center;
    padding-top: 20px;
}

.links {
    font-size: 12px;
    color: #666666;
    padding-bottom: 10px;
}

.copyright {
    line-height: 20px;
}

.links a {
    margin: 0 5px;
}


/* my_copyright end */